In [1]:
import pandas as pd

In [2]:
data = {
    'Name':['Alice','Bob','Charlie','David','Emily'],
    'Age':[25,30,22,28,24],
    'City':['New York','Los Angeles','Chicago','Houston','Miami']
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df.rename(columns={'Age':'Years'},inplace=True)

In [5]:
columns_list=df.columns.tolist()

In [6]:
print(columns_list)

['Name', 'Years', 'City']

In [7]:
df_dropped = df.drop(columns=['City'])

In [9]:
df_inserted=df.copy()
df_inserted.insert(1,'Gender',['Female','Male','Female','Male','Male'])

In [11]:
data_types=df.dtypes
print(data_types)

Name     object
Years     int64
City     object
dtype: object

In [12]:
head_data=df.head()

In [13]:
print(head_data)

      Name  Years         City
0    Alice     25     New York
1      Bob     30  Los Angeles
2  Charlie     22      Chicago
3    David     28      Houston
4    Emily     24        Miami

In [14]:
tail_data=df.tail()

In [15]:
print(tail_data)

      Name  Years         City
0    Alice     25     New York
1      Bob     30  Los Angeles
2  Charlie     22      Chicago
3    David     28      Houston
4    Emily     24        Miami

In [16]:
description=df.describe()
print(description)

           Years
count   5.000000
mean   25.800000
std     3.193744
min    22.000000
25%    24.000000
50%    25.000000
75%    28.000000
max    30.000000

In [17]:
info = df.info()
print(info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Years   5 non-null      int64
 2   City    5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes
None

In [18]:
missing_values = df.isnull()
print(missing_values)

    Name  Years   City
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False